<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
<head>
  <title>BOOK MY SHOW</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="app/assets/stylesheets/search_theatres.css.scss" type="text/css" media="all" /> 
  <!--[if IE 6]>
    <link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" />
  <![endif]-->
  <script type="text/javascript" src="app/assets/javascripts/js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="app/assets/javascripts/js/jquery-func.js"></script>
</head>
<body>
<!-- Shell -->
<div id="shell">
  <!-- Header -->
  <div id="header">
    <h1 id="logo"><img src="assets/logo.gif" /><a href="#">Book My Movie</a></h1>
    <div class="social">
      <span>FOLLOW US ON:</span>
      <ul>
          <li><a class="twitter" href="https://twitter.com/rails">twitter</a><img src="assets/facebook.xcf" /></li>
          <li><a class="facebook" href="https://www.facebook.com/pages/Ruby-on-Rails/107858409241837?ref=ts&fref=ts">facebook</a></li>
          <li><a class="rss" href="#">rss</a></li>
      </ul>
    </div>
    
    <!-- Navigation -->
    <div id="navigation">
      <ul>
          <li><a class="active" href="#">HOME</a></li>
            <li><a href="#">IN THEATERS</a></li>
          <li><a href="#">CONTACT</a></li>
       </ul>
    </div>
    <!-- end Navigation -->
    
    <!-- Sub-menu -->
    <div id="sub-navigation">
      <ul>
          <li><a href="#">NOW PLAYING</a></li>
          <li><a href="#">LATEST TRAILERS</a></li>
          
      </ul>
    <div id="search">  
     <%= form_tag(action: "search_theatre_byzip", method: "get") do %>
 	 <b><%= label_tag(:zipcode, "Zipcode:") %></b>
  	<%= text_field_tag(:zipcode) %>
  	<%= submit_tag("Search") %>
  	</div>
<% end %>
    <!-- end Sub-Menu -->
    
  </div>
  <!-- end Header -->
  
  <!-- Main -->
  <div id="main">
    <!-- Content -->
    <div id="content">

      <!-- Box -->
      <div class="box">
        <div class="head">
          <h2>NOW PLAYING</h2>
          <p class="text-right"><a href="#">See all</a></p>
        </div>

        <!-- Movie -->
        <div class="movie">
          
          <div class="movie-image">
            
            <a href="https://www.youtube.com/watch?v=R5QsAkVCsb0"><span class="play"><span class="name">X-MAN</span></span><img src="assets/movie1.jpg" alt="movie" /></a>
          </div>
            
          <div class="rating">
            <p></p>
            <div class="stars">
              <div class="stars-in">
                
              </div>
            </div>
            <span class="comments"></span>
          </div>
        </div>
        <!-- end Movie -->
        
        <!-- Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="https://www.youtube.com/watch?v=hZGR5Sj1Bfo"><span class="play"><span class="name">CHENNAI EXPRESS</span></span><img src="assets/movie2.jpg" alt="movie" /></a>
          </div>
          <div class="rating">
            <p></p>
            <div class="stars">
              <div class="stars-in">
                
              </div>
            </div>
            <span class="comments"></span>
          </div>
        </div>
        <!-- end Movie -->
        
        <!-- Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="#"><span class="play"><span class="name">SPIDER MAN 3</span></span><img src="assets/movie3.jpg" alt="movie" /></a>
          </div>
          <div class="rating">
            <p></p>
            <div class="stars">
              <div class="stars-in">
                
              </div>
            </div>
            <span class="comments"></span>
          </div>
        </div>
        <!-- end Movie -->
        
        <!-- Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="https://www.youtube.com/watch?v=FHtCaVtryiE"><span class="play"><span class="name">VALKYRIE</span></span><img src="assets/movie4.jpg" alt="movie" /></a>
          </div>
          <div class="rating">
            <p></p>
            <div class="stars">
              <div class="stars-in">
                
              </div>
            </div>
            <span class="comments"></span>
          </div>
        </div>
        <!-- end Movie -->
        
        <!-- Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="https://www.youtube.com/watch?v=ol67qo3WhJk"><span class="play"><span class="name">GLADIATOR</span></span><img src="assets/movie5.jpg" alt="movie" /></a>
          </div>
          <div class="rating">
            <p></p>
            <div class="stars">
              <div class="stars-in">
                
              </div>
            </div>
            <span class="comments"></span>
          </div>
        </div>
        <!-- end Movie -->
        
        <!-- Movie -->
        <div class="movie last">
          <div class="movie-image">
            <a href="#"><span class="play"><span class="name">ICE AGE</span></span><img src="assets/movie6.jpg" alt="movie" /></a>
          </div>
          <div class="rating">
            <p></p>
            <div class="stars">
              <div class="stars-in">
                
              </div>
            </div>
            <span class="comments"></span>
          </div>
        </div>
        <!-- end Movie -->
        <div class="cl">&nbsp;</div>
      </div>
      <!-- end Box -->
       <!-- Box -->
      <div class="box">
        <div class="head">
          <h2>COMING SOON</h2>
          <p class="text-right"><a href="#">See all</a></p>
        </div>
      
        <!-- Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="#"><span class="play"><span class="name">TRANSFORMERS</span></span><img src="assets/movie7.jpg" alt="movie" /></a>
          </div>  
          <div class="rating">
            <p></p>
            <div class="stars">
              <div class="stars-in">
                
              </div>
            </div>
            <span class="comments"></span>
          </div>
        </div>
        <!-- end Movie -->
        
        <!-- Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="#"><span class="play"><span class="name">MAGNETO</span></span><img src="assets/movie8.jpg" alt="movie" /></a>
          </div>
          <div class="rating">
            <p></p>
            <div class="stars">
              <div class="stars-in">
                
              </div>
            </div>
            <span class="comments"></span>
          </div>
        </div>
        <!-- end Movie -->
        
        <!-- Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="#"><span class="play"><span class="name">KUNG FU PANDA</span></span><img src="assets/movie9.jpg" alt="movie" /></a>
          </div>  
          <div class="rating">
            <p></p>
            <div class="stars">
              <div class="stars-in">
                
              </div>
            </div>
            <span class="comments"></span>
          </div>
        </div>
        <!-- end Movie -->
        
        <!-- Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="#"><span class="play"><span class="name">EAGLE EYE</span></span><img src="assets/movie10.jpg" alt="movie" /></a>
          </div>
          <div class="rating">
            <p></p>
            <div class="stars">
              <div class="stars-in">
                
              </div>
            </div>
            <span class="comments"></span>
          </div>
        </div>
        <!-- end Movie -->
        
        <!-- Movie -->
        <div class="movie">
          <div class="movie-image">
            <a href="#"><span class="play"><span class="name">NARNIA</span></span><img src="assets/movie11.jpg" alt="movie" /></a>
          </div>
          <div class="rating">
            <p></p>
            <div class="stars">
              <div class="stars-in">
                
              </div>
            </div>
            <span class="comments"></span>
          </div>
        </div>
        <!-- end Movie -->
        
        <!-- Movie -->
        <div class="movie last">
          <div class="movie-image">
            <a href="#"><span class="play"><span class="name">ANGELS &amp; DEMONS</span></span><img src="assets/movie12.jpg" alt="movie" /></a>
          </div>  
          <div class="rating">
            <p></p>
            <div class="stars">
              <div class="stars-in">
                
              </div>
            </div>
            <span class="comments"></span>
          </div>
        </div>
        <!-- end Movie -->
        <div class="cl">&nbsp;</div>
      </div>
      <!-- end Box -->
      
     

        
    </div>
    <!-- end Content -->

    <!-- NEWS -->
    <div id="news">
      <div class="head">
        <h3>NEWS</h3>
        <p class="text-right"><a href="#">See all</a></p>
      </div>
      
      <div class="content">
        <p class="date">12.04.09</p>
        <h4>Disney's A Christmas Carol</h4>
        <p>&quot;Disney's A Christmas Carol,&quot; a multi-sensory thrill ride re-envisioned by Academy Award&reg;-winning filmmaker Robert Zemeckis, captures... </p>
        <a href="#">Read more</a>
      </div>
      <div class="content">
        <p class="date">11.04.09</p>
        <h4>Where the Wild Things Are</h4>
        <p>Innovative director Spike Jonze collaborates with celebrated author Maurice Sendak to bring one of the most beloved books of all time to the big screen in &quot;Where the Wild Things Are,&quot;...</p>
        <a href="#">Read more</a>
      </div>
      <div class="content">
        <p class="date">10.04.09</p>
        <h4>The Box</h4>
        <p>Norma and Arthur Lewis are a suburban couple with a young child who receive an anonymous gift bearing fatal and irrevocable consequences.</p>
        <a href="#">Read more</a>
      </div>
    </div>
    <!-- end NEWS -->
    
    <!-- Coming -->
    <div id="coming">
      <div class="head">
        <h3>COMING SOON<strong>!</strong></h3>
        <p class="text-right"><a href="#">See all</a></p>
      </div>
      <div class="content">
        <h4>The Princess and the Frog </h4>
          <a href="#"><img src="assets/coming-soon1.jpg" alt="coming soon" /></a>
        <p>Walt Disney Animation Studios presents the musical "The Princess and the Frog," an animated comedy set in the great city of New Orleans...</p>
        <a href="#">Read more</a>
      </div>
      <div class="cl">&nbsp;</div>
      <div class="content">
        <h4>The Princess and the Frog </h4>
          <a href="#"><img src="assets/coming-soon2.jpg" alt="coming soon" /></a>
        <p>Walt Disney Animation Studios presents the musical "The Princess and the Frog," an animated comedy set in the great city of New Orleans...</p>
        <a href="#">Read more</a>
      </div>
      
    </div>
    <!-- end Coming -->
    <div class="cl">&nbsp;</div>
  </div>
  <!-- end Main -->

  <!-- Footer -->
  <div id="footer">
    <p>
      <a href="#">HOME</a> <span>|</span>
      <a href="#">NEWS</a> <span>|</span>
      <a href="#">NOW SHOWING</a> <span>|</span>
      <a href="#">COMING SOON </a> <span>|</span>
      <a href="#">CONTACT </a>
    </p>
  </div>
  <!-- end Footer -->
</div>
<!-- end Shell -->
</body>
</html>

 
 
 