<h1>Movie Booking Website</h1>
<p>Find theatre near you</p>
<p><%= "We have #{@theatre.count}" %></p>
<form name="input" action="search_theatre_id" method="get">
Zipcode: <input type="text" name="@theatre.zipcode">
</form> 

